div#registration {
	text-align: center;
	height: 100%;	
	background: #ECECEC;
}

html {
	height: 100%;
	font-family: sans-serif, fantasy, monospace;
}

body {
	height: auto !important;
    position: relative;
    margin: 0px;
}

form input {
	height: 25px;
}

form input {
	border: 2px ridge #b5b5b5;
}

form input[type="text"]:hover, form input[type="password"]:hover {
	border-top: 2px inset #B5B5B5;
	border-left: 2px inset #B5B5B5;
}

form input[type="text"]:focus, form input[type="password"]:focus {
	border: 2px inset #FC6500;
}


#header h1 {
    margin: 0px;
    padding: 0px;
    width: 450px;
}

#header {
	width: 100%;
	background: #FC6500;
    text-align: center;
    color: #512F2C;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	z-index: 2;
}

#header table {
	width: 100%;
}

#header td {
	text-align: right;
}

#header td > div {
	padding-right: 10px;
}

#body > img {
	padding: 40px;
	position: relative;	
}

#body > form {
	float: right;
	padding-top: 140px;
	padding-bottom: 40px;
	width: 550px;
}

#body p {
	padding: 0px;
	margin: 0px;
}

#body p.error {
	color: red;
}

#body td {
	padding-bottom: 10px;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #FC6500;
	height: 20px;
}