html {
    overflow-y: hidden;
    overflow-x: visible;
	width: 100%;
	height: 100%;
}
body {
    margin: 0 auto;
    overflow-y: hidden;
	width: 100%;
	height: 100%;
}
#div_container {
	width: 100%;
	height : 100%; 
	position : absolute;
	min-width : 900px;
	min-height : 600px;
	scrolling : auto;
	/*background-color:#333;*/
}

#paramZLevel {
	position: absolute;
	z-index: 3;
	right: 5px;
	top: 90px;
	width: 200px;
	height: 70%;
}

#sliderZLevel {
	height: 100%;
	float: left;
	width: 10px;
	left: 160px;
}

#sliderRadiusCircle {
	float: left;
	height: 100%;
	left: 180px;
	width: 10px;
}

#stepsCurves {
	float: left;
	left: 20px;
}

#stepsCurves > p {
	height: 20px;
	padding: 0;
	margin: 0;
}

#stepsCurves > p > input {
	width: 40px;
	padding: 0;
	margin: 0;
}

#map
{
    top: 0%;
    bottom : 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height : 100%;
    min-width : 1000px;
    min-height : 600px;

    position : absolute;
    margin: 0 auto;
    z-index : 0;
    background-color: white;
    overflow: hidden;
}

#top
{
	top : 0%;
	left: 0%;
	width: 100%;
    min-width: 1000px;
	height : 2px; 
	position : absolute;
	z-index : 2;
	background-color:#333;
}

#invisibleHeadBlock
{
	margin-left : -450px;
	width: 50%;
	height : 100%; 
	position : relative;
	z-index : 1;
	background-color:#777;
	float : left;
}

#head
{
        
	/*width: 900px;*/
	height : 2px; 
	position : relative;
	z-index : 1;
	background-color:red;
	float : left;
	overflow : visible;
}

#header
{
        
	margin-bottom:-163px;
	width: 900px;
	height : 95px; 
	position : relative;
	z-index : 1;
	/*background-color:orange;*/
}

#headTop
{
	width: 900px;
	height : 39px; 
	position : relative;
	z-index : 1;
	background: url(../img/GloberryTitleBG.png) no-repeat;
}
#globerryTitle
{
	position: relative;
	width: 178px;
	height: 39px;
	float: left;
        font-weight: bold;
        font-size: 32px;
        font-family: 'pf_dindisplay_pro';
        padding-left: 20px;
        color: #4c2e2e;
	background: url(../img/GloberryTitle.png) no-repeat;
}

#headContent1
{
	width: 900px;
	height : 38px; 
	position : relative;
	z-index : 1;
	background: url(../img/FirstHeaderBGSmall.png) no-repeat;
	overflow : visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";	/* IE 8 */
	filter: alpha(opacity=95); /* IE 5-7 */
	-moz-opacity: 0.95;/* Netscape */
	-khtml-opacity: 0.95;/* Safari 1.x */
	opacity: 0.95;/* Good browsers */
}

div.k-animation-container {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";	/* IE 8 */
	filter: alpha(opacity=90); /* IE 5-7 */
	-moz-opacity: 0.9;/* Netscape */
	-khtml-opacity: 0.9;/* Safari 1.x */
	opacity: 0.9;/* Good browsers */
	padding-top: 2px;
	border-color: #7e7e7e;
	border-width: 1px;
}

div.k-list-container {
	background: #252e42;
}

ul.k-list {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";	/* IE 8 */
	filter: alpha(opacity=100); /* IE 5-7 */
	-moz-opacity: 1;/* Netscape */
	-khtml-opacity: 1;/* Safari 1.x */
	opacity: 1;/* Good browsers */
}

#headContent2
{
	width: 900px;
	height : 0px; 
	position : relative;
	z-index : 1;
	display:none;
	background: url(../img/SecondHeaderBG.png) no-repeat;
	opacity: 0.95;
}
#headBottom
{
	width: 900px;
	height : 17px; 
	position : relative;
	z-index : 2;
	background: url(../img/GloberryFirstHeaderBottom.png) no-repeat;
	border-bottom-left-radius: 3.8px;
	border-bottom-right-radius: 3.8px;
	overflow : visible;
	display : block;
	-moz-box-shadow: 1px 1px 2px #444;
	-webkit-box-shadow: 1px 1px 2px #444;
	box-shadow: 1px 1px 2px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#444444');
}
#calendar
{
	left: 1px;
	width : 855px;
	background: url(../img/CalendarBase.png) left bottom no-repeat;
	border-bottom-left-radius: 3.8px;
	border-bottom-right-radius: 3.8px;
	z-index: 1;
	
	margin-left: 23px;
	height : 0px; /*26px*/
	position : relative;
	/*background: url(../img/GloberryFirstHeaderBottom.png) no-repeat;*/
	opacity: 0.95;
	display: none;
	overflow: hidden;
}
#menuNumber
{
    padding-left: 20px;
    padding-top: 10px;
    color: #00d8ff;
    font-family: 'pf_dindisplay_pro';
    font-size: 16px;
    font-weight: normal;
}
#whoText
{
    padding-top: 10px;
    padding-left: 5px;
	padding-right: 20px;
    font-family: 'pf_dindisplay_pro';
    font-size: 16px;
    /*width: 141px;*/
    width: 135px;
    color: white;
    /*background: url(../img/WhoReqText.png) no-repeat;*/
        
}

#whatText
{
    padding-top: 10px;
    padding-left: 5px;
    font-family: 'pf_dindisplay_pro';
    font-size: 16px;
    color: white;
    
    width: 145px;
	padding-left: 20px;
    /*margin-left: 118px;*/
    /*background: url(../img/WhatReqText.png) no-repeat;*/
}
#whenText
{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'pf_dindisplay_pro';
    font-size: 16px;
    color: white;

    width: 100px;
	padding-left: 27px;
    /*margin-left: 116px;*/
    /*background: url(../img/WhenReqText.png) no-repeat;*/
}
.requestText
{
	height : 38px; 
	position : relative;
	float: left;
	z-index : 1;
}
#headerButton
{
	width: 144px;
	height : 38px;
	position : relative;
	float: left;
	
	margin-right: -30px;
	margin-left: 22px;
	/*margin-left: 120px;*/
	z-index : 1;
	/*background: url(../img/GoButtonWithBg.png) no-repeat;*/
}

#headerButtonText
{
    color: black;
    font-family: 'pf_dindisplay_pro';
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-top: 2px;
    /*background: url(../img/GoButtonWithoutBg.png) no-repeat;*/
    z-index:3;
    cursor : pointer;
}
#headerButtonTBackGround
{
	/*background: url(../img/GoButtonBg.png) no-repeat;*/
	z-index:2;
	cursor : pointer;
}

.headerButton
{
	position: absolute;
	width: 109px;
	height : 22px; 	
	left: 17px;
	top : 7px;
	-moz-box-shadow: 2px 2px 1px #222;
	-webkit-box-shadow: 2px 2px 1px #222;
	box-shadow: 2px 2px 1px #222;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#222222')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#222222');
	-moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
	background-color: #ff5005;
}
#headerButtonUp
{
	width: 83px;
	height : 17px; 
	position : relative;
	float: right;
	margin-right: 19px;
	z-index : 2;
	background: url(../img/SecondHeaderUpButton.png) no-repeat;
	opacity : 0;
	display:none;
	cursor: pointer;
}

#upperHeaderBlockWithCircle
{
	width: 81px;
	height : 39px; 
	position : absolute;
	right: 0;
	top: 0;
	float: right;
	margin-right: 20px;
	z-index : 2;
	background: url(../img/SecondHeaderUpperBlockWithoutCircle.png) no-repeat;
	opacity : 0;
	display:none;
}

#circle
{
	position: absolute;
	width: 10px;
	height : 10px; 	
	left: 36px;
	top : 20px;
	cursor: pointer;
	background: url(../img/SecondHeaderUpperBlockCircle.png) no-repeat;
}

.secondHeaderBlocks
{
	position : relative;
	float : left;
	height : 100px;
	width : 200px;
}

#fifthBlock
{
	width: 100px;
}

#fifthBlockText
{
	position : relative;
	float : left;
	height : 100px;
	width : 55px;
	background: url(../img/SecondHeaderUpperRightBlockTextVisLang.png) no-repeat;
	margin-left: 4px;
}

#visaButtonActive
{
	position: absolute;
	width: 13px;
	height : 13px; 	
	left: 75px;
	top : 24px;
	cursor: pointer;
	/*background: url(../img/LangVisaButtonActive.png) no-repeat;*/
}

#langButtonActive
{
	position: absolute;
	width: 13px;
	height : 13px; 	
	left: 75px;
	bottom : 24px;
	cursor: pointer;
	/*background: url(../img/LangVisaButtonActive.png) no-repeat;*/
}

#calendarIMG
{
	position : absolute;
	left: 1px;
	height : 26px;
	width : 854px;
	background: url(../img/CalendarBase.png) bottom no-repeat;
	border-bottom-left-radius: 3.8px;
	border-bottom-right-radius: 3.8px;
	opacity: 0.95;
	z-index: 2;
}
#calendarText
{
	position: absolute;
	width: 820px;
	height : 26px; 	
	left: 34px;
	cursor: pointer;
	/*background: url(../img/CalendarMainText.png) no-repeat;*/
	z-index:4;
}

.upperClickableCaendar
{
	height: 26px;
	position : absolute;
	cursor: pointer;
	z-index:5;	
}
.upperClickableCaendarBG
{
/*
	height: 26px;
	position : absolute;
	cursor: pointer;
	z-index:3;
	background: url(../img/MonthBgActive.png);
	*/
	/*opacity: 0;*/
}
.months
{
	height: 26px;
	float:left;
	bottom: 0;
	font-family: 'pf_dindisplay_pro';
    color: white;
    font-size: 12px;
    opacity: 1;
    left: 34px;
    position:absolute;
	z-index: 2;
}
.month
{
	float:left;
	width: 68px;
	text-align: center;
	position:relative;
	/*background: url(../img/MonthBgActive.png);*/
	height:21px;
	padding-top: 5px;
	/*border:1px solid;*/
	cursor: pointer;
}
.activeMonth
{
	background: #ff5005;
}
#Jan, #JanBG, #month0
{
	left:2px;
	width: 70px;
/*
    font-family: arial;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    left: 34px;
    width: 71px;
	*/
}
#Feb, #FebBG, #month1
{
	width: 74px;
	/*
	left: 105px;
	width: 72px;
	*/
}
#Mar, #MarBG, #month2
{
	width: 63px;
/*	left:6px;
	left: 177px;
	width: 63px;
	*/
}
#Apr, #AprBG, #month3
{
	width: 70px;
	/*
	left: 240px;
	width: 70px;	
	*/
}
#May, #MayBG, #month4
{
	width: 67px;
/*
	left: 310px;
	width: 68px;
	*/
}
#Jun, #JunBG, #month5
{
	width: 66px;
/*
	left: 378px;
	width: 66px;
	*/
}
#Jul, #JulBG, #month6
{
	width: 66px;
/*
	left: 444px;
	width: 66px;
	*/
}
#Aug, #AugBG, #month7
{
/*
	left: 510px;
	width: 68px;
	*/
}
#Sep, #SepBG, #month8
{
	width: 67px;
/*
	left: 578px;
	width: 67px;
	*/
}
#Oct, #OctBG, #month9
{
	width: 67px;
/*
	left: 645px;
	width: 67px;
	*/
}
#Nov, #NovBG, #month10
{
	width: 66px;
/*
	left: 712px;
	width: 66px;
	*/
}
#Dec, #DecBG, #month11
{	
/*
	left: 778px;
	width: 76px;
	*/
	border-bottom-right-radius: 3.8px;
	width: 76px;
}
#JanBG
{
/*
	opacity: 1;
	*/
}
.SelectLargeImage
{
	position: relative;
	margin-top : 24px;
	left : 141px;
	z-index: 100;
	width: 100px;
	height : 0px;
	cursor : pointer;
	-moz-border-radius:2px;
    -khtml-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    display : none;
}

#alone
{
	padding-top : 8px;
}

.selectItem
{
	margin-top : 2px;
	position : relative;
	width : 100px;
	height: 21px;
	cursor : pointer;
}

.selected
{
	position: absolute;
	margin-top : 2px;
	margin-left : 0px;
	width: 82px;
	height: 21px;
	opacity : none;
	cursor : pointer;
	overflow: visible;
}
#jan
{
	/*padding-top : 6px;*/
	/*height : 18px;*/
}
#may
{
	margin-top: 0px;
}
#jun
{
	/*height : 16px;*/
	margin-top: 0px;	
}
#sep
{
	/*height : 16px;*/
	margin-top: 0px;	
}

#headText
{
	position:relative;
	width: 580px;
	height : 39px;
/*	margin-left: 5px;*/
        margin-left: 200px;
	display : none;

        font-size:18px;
	color:white;
	font-family:'pf_dindisplay_pro';
	font-weight:bold;
/*	padding-left:350px;*/
	padding-top:10px;
	
}
#headerText
{
	font-size:18px;
	color:white;
	font-family:'pf_dindisplay_pro';
	font-weight:bold;
	padding-left:350px;
	padding-top:10px;
}
#hText
{
	/*margin-top: 10px;*/
	width: 100%;
	height: 22px;
	background: transparent;
	border: none;
	text-align : left;
	color: white;
	font-size: 18px;
	cursor: default;
        overflow: visible;
}

.whoWhatWhenDropDownList
{
    float: left;
    margin-top:10px;

}
#whoDropDownList
{    
    margin-left: -18px;
}
#whatDropDownList
{
	
}
#whenDropDownList
{	
    
}

#whoSelect
{
    width:120px;
}

.sliderBlocks
{
    float:left;
	padding-top: 5px;
}
.blocksText
{
    text-align: center;
    margin-top:8px;
    float: left;
    color: #94d8fb;
    font-size:14px;
    font-family:'pf_dindisplay_pro';
    opacity: 0.8;
    width: 100%;
	
}
.slider-range, .slider-conjoint
{
    min-width: 153px;
    height: 15px;
    float:left;
    margin-left: 22px;
}
.ui-widget-header
{
    background:green;
}

#temperatureSlider
{
    position: relative;
}
#temperatureBlock
{
    float:left;
    width: 100%;
}
#visaText {
    margin-top: 24px;
    margin-left: -11px;
} 
#languageText {
    margin-top: 21px;
    margin-left: 0px;
}

.k-widget
{
    border-color: #4E5056;
    background-color: #84B8D5;
}

/******************************************/
/**********РЎС‚РёР»Рё РґР»СЏ СЃР»Р°Р№РґРµСЂРѕРІ*************/
 /* РЁРёСЂРёРЅР° СЃР»Р°Р№РґРµСЂР° */
#sliderRange {
    width: 200px;
}
/* РљРѕРЅС‚РµР№РЅРµСЂ СЃР»Р°Р№РґРµСЂР° */
.ui-slider-range {
    position: relative;
}
/* РџРѕР»Р·СѓРЅРѕРє */
.ui-slider-range .ui-slider-handle-range {
    position: absolute;
    z-index: 2;
    width: 13px;   /* Р—Р°РґР°РµРј РЅСѓР¶РЅСѓСЋ С€РёСЂРёРЅСѓ */
    height: 13px;  /* Рё РІС‹СЃРѕС‚Сѓ */
    background: url(../img/slider.png) no-repeat; /* РєР°СЂС‚РёРЅРєР° РёР·РѕР±СЂР°Р¶Р°СЋС‰Р°СЏ РїРѕР»Р·СѓРЅРѕРє. Р�Р»Рё РјРѕР¶РЅРѕ Р·Р°Р»РёС‚СЊ С†РІРµС‚РѕРј, Р·Р°РґР°С‚СЊ Р±РѕСЂРґСЋСЂ Рё СЃРєСЂСѓРіР»РµРЅРёСЏ */
    cursor: pointer
}
.ui-slider-handle
{
    /*background: url(resources\styles\sliderhandler.png) no-repeat;*/
}
.leftHandler
{
    background: url(../img/leftSliderHandler.png) no-repeat;
}
.rightHandler
{
    background: url(../img/rightSliderHandler.png) no-repeat;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* РїРѕР·РёС†РёРѕРЅРёСЂСѓРµРј РїРѕР»Р·СѓРЅРєРё */
.ui-slider-horizontal .ui-slider-handle { 
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

/* РѕС„РѕСЂРјР»РµРЅРёРµ Р°РєС‚РёРІРЅРѕРіРѕ СѓС‡Р°СЃС‚РєР° (РјРµР¶РґСѓ РґРІСѓРјСЏ РїРѕР»Р·СѓРЅРєР°РјРё) */
.ui-widget-header { 
    border: 1px solid #D4D4D4;
    background: #ff5e00;

}
/* СЃРєСЂСѓРіР»РµРЅРёРµ РґР»СЏ РїРѕР»РѕСЃС‹ СЃР»Р°Р№РґРµСЂР° */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#foodText, #sexText {
    /*margin-left: 30px;*/
}
.bottomLineInBlocks {
    padding-top:2px;
}
#visaInput {
    background-color: #e78113;
}
.input {
    background-color: #e78113;
}
input.k-input {
	color: #16c1f9;
}
.check {
    margin-top: 3px;
    background: url(../../resources/img/LangVisaButtonNotActive.png) no-repeat;
    height: 20px;
/*    margin-left: 5px;*/
}
.checkOn
{
    background: url(../../resources/img/LangVisaButtonActive.png) no-repeat;
}
.check input
{
    /*position: absolute; left: -9999px; */
    display:none;
}
#visaCheckbox, #langCheckbox
{
    opacity:1;
}
.bucks
{
    font-family:'pf_dindisplay_pro';
    color: white;
    float: left;
    position: absolute;
    margin-top: 8px;
    opacity: 0.8;
    font-size: 14px;
    /*width:40px;*/

}
.rightBucks
{
    float:right;
	right: 0;
}
.bucksInputPosition
{
    margin-left: -5px;
}
#timeInPathText
{
    margin-left: 0px;
}

/**********************************************************************/
/*РЎС‚РёР»Рё РґР»СЏ СЃР»Р°Р№РґРµСЂРѕРІ*/
.formCost 
{
    position: relative;
    min-width : 158px;
    width: 80%;
    float: left;
    margin-bottom: 0px;
    height : 30px;
    left:19px;
	top: 2px;
	
    /*margin-left: 18px;*/
}

.sliderCont {
    min-width: 155px;
    width : 23%;
    height: 15px;
    float: left;
    margin-left : 19px;
}		

#slider {
    width: 79%;
}

.ui-slider {
    position: relative;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 4;
    width: 10px;
    height: 14px;
    cursor: pointer
}
.ui-slider .leftHandler
{
    background: url(../img/leftSliderHandler.png) top right no-repeat;
	margin-left: -8px;
}
.ui-slider .rightHandler
{
    background: url(../img/rightSliderHandler.png) top left no-repeat;
    margin-left: -1px;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 3;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
    height: 3px;
    border : none;
}
.ui-slider-horizontal {
        height: 4px;
}
.ui-slider-horizontal .ui-slider-handle { 
    top: -5px;

}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}
.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-widget-content { 
    border: 1px solid #444;
    background: url(../img/SliderMainBG.png);
    margin-top: 3px;
    opacity : 1;
    cursor: pointer;
}
.ui-widget-header { 
    cursor: pointer;
    border : none;
    height : 3px;
    background: url(../img/SliderBG.png) no-repeat;
    opacity : 1;
}
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
a{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
#timeSText
{
    min-width : 96px;
}
#timeMaxV
{
    width: 30px;
    margin-right: -15px;
	text-align: right;
}
#timeMinV
{
    width: 30px;
    margin-right: -15px;
	text-align: right;
}
#living {
    margin-left: 1px;
}

#livMaxV {
    width: auto;
}

#alcMinCost::before, 
#alcMaxCost::before, 
#livMaxV::before, 
#livMinV::before, 
#foodMaxV::before, 
#foodMinV::before {
	content: "$"
}

#alcMinCost, 
#alcMaxCost, 
#livMaxV, 
#livMinV, 
#foodMaxV, 
#foodMinV {
	padding-left: 2px;
}

.left {    
    position:relative;    
    color: #ddd;
    background: none;
    border: none;
    text-align: left;
    font-size: 14px;
    cursor: default;
}

.right
{
    /*margin-left : -5px;*/
    position:relative;
    color: #ddd;
    width: 22px;
    background: none;
    border: none;
	text-align: right;
    font-size: 14px;
    cursor: default;
}
#rightSliderHeandlerTemp
{
    background: url(../img/TempSliderRightHeandler.png);
}
#leftSliderHeandlerTemp
{
    background: url(../img/TempSliderLeftHeandler.png);
}
#tempSText
{
    background: url(../img/temperatureSliderText.png) no-repeat;
    width : 82px;
    height : 20px;
}
#alcoholSText
{
    background: url(../img/AlchSliderText.png) no-repeat;
    width : 66px;
    height : 19px;
    margin-left: 12px;
}
#timeSText
{
    background: url(../img/TimeSliderText.png) no-repeat;
    width : 80px;
    height : 20px;
    margin-left: 6px;
    min-width:0px;
}

#mood
{
    background: url(../img/MoodText.png) no-repeat;
    width : 82px;
    height : 19px;
    margin-left: 5px;	
}
#living
{
    background: url(../img/LivingSliderText.png) no-repeat;
    width : 79px;
    height : 20px;
    margin-left: 0px;
}
#security
{
    background: url(../img/SecuritySliderText.png) no-repeat;
    width : 83px;
    height : 19px;
    margin-left: 0px;
}
#food
{
    background: url(../img/FoodSliderText.png) no-repeat;
    width : 34px;
    height : 20px;
    margin-left: 23px;
}
#sex
{
    background: url(../img/SexSliderText.png) no-repeat;
    width : 34px;
    height : 19px;
    margin-left: 26px;
}


#rightSliderHeandlerAlc
{
    background: url(../img/SliderNTrightHeandler.png);
}
#rightSliderHeandlerTime
{
    background: url(../img/SliderNTrightHeandler.png);
}
#rightSliderHeandlerLiv
{
    background: url(../img/SliderNTrightHeandler.png);
}
#rightSliderHeandlerFood
{
    background: url(../img/SliderNTrightHeandler.png);
}
#moodHeandler
{
    width: 10px;
    height: 12px;
    background: url(../img/OneHadlerSliderHandler.png);
}
#securityHeandler
{
    width: 10px;
    height: 12px;
    background: url(../img/OneHadlerSliderHandler.png);
}
#foodHeandler
{
    width: 10px;
    height: 12px;
    background: url(../img/OneHadlerSliderHandler.png);
}
/**********************************************************************/

#bottomContainer {
    display: block;
    position: absolute;
    bottom: 0px;
    overflow: visible;
    width: 920px;
    left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 2;
}
.bottomAsshole {
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0px;
}
#invisibleBottom
{
    margin-left : -450px;
    width: 50%;
    height : 100%; 
    position : relative;
    z-index : 1;
    background: transparent;
    float : left;
}
#bottom
{
    z-index : 2; /*map has 0*/
    position: relative;
    /*float:left;*/
    /*bottom: 0px;*/
    /*height : 0px;*/
    /*margin-bottom: 10px;
    /right : 5%;*/
    width : 900px;
	margin: 0 auto;
    border-top-right-radius:4px;
    min-width : 900px;
    /*box-shadow: 0px 0px 10px #888;
    /-moz-box-shadow: 0px 0px 10px #888;
    /-webkit-box-shadow: 0px 0px 10px #888;*/
    /*display : none;*/
}

.bottomButton
{
    /*z-index : 1;*/ /*map has 0*/
    /*position: relative;
    float : left;*/
    /*bottom: 10px;*/
    height : 30px;
    /*left : 5%;*/
    width : 120px;/**/
    overflow: visible;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    /*margin-top : -29px;*/
    background-color:rgb(37, 46, 64);
}

.bottomHeadText{
    padding-top : 2px;
    color:white;
    font-size:14pt;
	font-family :'pf_dindisplay_pro';
    cursor : pointer;
    text-align:center;
}
#bottomButtons
{
    /*position: relative;
    float : left;*/
    /*width : 480px;*/
	background: transparent;
	width: 365px;
	float: left;
	position: absolute;
	bottom: 0;
}

#whiteBottom
{
    z-index : 1; /*map has 0*/
    position: relative;
    float: left;
    /*margin-bottom: 2px;*/
    /*bottom: 0px;
    /height : 0px;
    /right : 5%;*/
    width : 900px;
    /*box-shadow: 0px 0px 10px #888;
    /-moz-box-shadow: 0px 0px 10px #888;
    /-webkit-box-shadow: 0px 0px 10px #888;*/
    min-width : 900px;
    background-color: white;
}

.bottomB
{
    z-index : 2; /*map has 0*/
    position: relative;
    float: left;
    bottom: 0px;
    /*height : 147px;*/
    /*right : 5%;*/
    width : 900px;
    border-top-right-radius:4px;
    display:none;/**/
    background-color: white;
}
.roundBorder
{	
    /*background: rgb(255, 122, 2); 
    background: -moz-linear-gradient(left, rgb(255, 122, 2), rgb(252, 63, 0)); 
    background: -webkit-linear-gradient(left, rgb(255, 122, 2), rgb(252, 63, 0));
    background: -o-linear-gradient(left, rgb(255, 122, 2), rgb(252, 63, 0)); 
    background: -ms-linear-gradient(left, rgb(255, 122, 2), rgb(252, 63, 0)); 
    background: linear-gradient(left, rgb(255, 122, 2), rgb(252, 63, 0));*/
}
#gradLine
{
    width: 900px;
    /*position: absolute;*/
    /*bottom: -1px;*/
    height: 7px;
    /*margin-top: -5px;*/
    background: url(../img/BottomGradLine.png) no-repeat;
	cursor: n-resize;
}
.hidden {
    display : none;
}
.Line 
{
	border-bottom: 1px solid black;
}
.bottom_entity_ref
{
	
}
.bottom_entity_ref a
{
	margin-left:100px;
}

.scrollbarY { width: 98%; margin: 20px 0 10px; }
.scrollbarY .viewport { width: 95%; height: 127px; overflow: hidden; position: relative; }
.scrollbarY .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin-left: 10px;font-size: 14pt;
font-family: Helvetica; margin:0 150px 0 100px;}
.scrollbarY .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.scrollbarY .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbarY .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbarY .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbarY .disable { display: none; }

#modal {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;
    /*width: 100%;
    height: 100%;
    line-height: 200px;*/
    text-align: center;
}

#modal img {
	margin: 14% auto;
}

#modalBlack {
	position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* IE 8 */
	filter: alpha(opacity=40); /* IE 5-7 */
	-moz-opacity: 0.4; /* Netscape */
	-khtml-opacity: 0.4; /* Safari 1.x */
	opacity: 0.4; /* Good browsers */
	background: black;
	display: none;
} 

input {
	font-family: 'pf_dindisplay_pro';
}
.hint_box {
	position:absolute;
	padding:4px;
	min-width:200px;
	z-index:10;
	font-family:pf_dindisplay_pro;
	background-color:#e78113;
	color: #fff;
	font-size:12pt;
	display:none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";	/* IE 8 */
	filter: alpha(opacity=85); /* IE 5-7 */
	-moz-opacity: 0.85;/* Netscape */
	-khtml-opacity: 0.85;/* Safari 1.x */
	opacity: 0.85;/* Good browsers */
	-moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
}